#header, .options {
  display: flex;
  align-items: center;
}
#header {
  justify-content: space-between;
}

/* Invoices and the total amount */
.title {
  color: var(--color-common-text);
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -1px;
  margin: 0;
}
.subtitle {
  color: var(--color-subtitle);
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
}

/* Dropdown menu with custom arrow down */
#filter-button {
  font-weight: 700;
  margin-right: 40px;
  button, p {
    color: var(--color-common-text);
  }
  .dropdown-toggle {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
  }
  .fa-angle-down {
    color: #7C5DFA;
    margin-left: 16px;
  }
  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-menu {
    box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
    border: none;
    padding: 24px 0 8px 24px;
    input[type="checkbox"] {
      border: 1px solid #DFE3FA;
      background-color: #DFE3FA;
      appearance: none;
      margin-right: 13px;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      display: grid;
      place-content: center;
      cursor: pointer;
      &:hover {
        border: 1px solid #7C5DFA;
      }
    }
    input[type="checkbox"]::before {
      content: "";
      width: 10px;
      height: 10px;
      transform: scale(0);
      box-shadow: inset 16px 16px #DFE3FA;
      transform-origin: bottom left;
      clip-path: polygon(21% 50%, 43% 68%, 81% 9%, 95% 20%, 45% 95%, 6% 66%);
    }
    input[type="checkbox"]:checked::before {
      transform: scale(1);
    }
    input[type="checkbox"]:checked {
      background-color: #7C5DFA;
      border: 1px solid #7C5DFA;
    }
    div {
      label {
        display: flex;
        align-items: center;
        cursor: pointer;
        line-height: 15px;
        font-weight: 700;
        letter-spacing: -0.25px;
        margin-bottom: 16px;
      }
    }
  }
}

/*
*
*/
.new {
  display: flex;
  align-items: center;
  background-color: #7C5DFA;
  color: #FFFFFF;
  border: none;
  padding: 8px 15px 8px 8px;
  border-radius: 24px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  svg {
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }
}