#overlay {
  position: absolute;
  background-color: #00000080;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 2;
}
#formContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 719px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow-y: scroll;
  background-color: var(--color-overlay-form);
  & > form {
    padding: 56px 56px 32px 159px;
  }
  #actionContainer {
    margin: 0;
    padding: 0 56px 0 159px;
    div {
      padding: 0;
    }
  }
  p {
    color: #7C5DFA;
  }
  p, .form-label, .form-control, .dropdown-toggle, button {
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
  }
  .row > div {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .form-label {
    color: var(--color-detail-text);
    margin-bottom: 10px;
  }
  .form-control {
    padding: 17px 0 16px 20px;
  }
  .form-control, .dropdown-toggle {
    background-color: var(--color-form-input);
    border: 1px solid var(--color-form-input-border);
    color: var(--color-common-text);
    border-radius: 4px;
  }

  // Calendar / Invoice Date
  .calendar {
    display: flex;
    align-items: center;
    background-color: var(--color-form-input);
    border: 1px solid var(--color-form-input-border);
    border-radius: 4px;
    input {
      padding-right: 9px;
    }
    svg {
      color: #7E88C3;
      position: absolute;
      right: 16px;
      z-index: 1;
    }
  }

  // Dropdown menu
  #payment-terms {
    .dropdown-toggle::after {
      display: none;
    }
    .dropdown-toggle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 18px 20px 18px 20px;
    }
    .dropdown-divider {
      border-top: 2px solid var(--color-form-dropdown-divider);
    }
    .dropdown-menu {
      background-color: var(--color-form-dropdown);
      color: var(--color-common-text);
      box-shadow: 0px 10px 20px var(--color-form-dropdown-shadow);
      div {
        padding: 15px 0 16px 24px;
        cursor: pointer;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: -0.25px;
      }
      div:hover {
        color: #7C5DFA;
      }
    }
  }

  // Item List
  h2 {
    color: #777F98;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.375px;
  }
  .heading {
    margin-top: 16px;
    & > div {
      color: var(--color-detail-text);
    }
  }
  .invoiceItem {
    & > div {
      display: flex;
      align-items: center;
    }
    .invoiceItemTotal {
      justify-content: space-between;
    }
  }
  .add-button {
    padding: 17px 165px 16px 166px;
    background-color: var(--color-button-edit);
    color: var(--color-detail-text);
    border: none;
    border-radius: 24px;
  }

  // Button Group
  .discard, .draft, .send {
    padding: 17px 24px;
    border: none;
    border-radius: 24px;
  }
  .discard {
    background-color: #F9FAFE;
    color: #7E88C3;
  }
  .draft {
    background-color: #373B53;
    color: #888E80;
  }
  .send {
    background-color: #7C5DFA;
    color: #FFFFFF;
  }
}

@media only screen and (max-width: 810px) and (orientation: portrait) {
  #formContainer {
    & > form {
      padding-left: 56px;
      padding-top: 136px;
    }
    #actionContainer {
      position: sticky;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #FFFFFF;
      padding: 31px 56px;
      border-top-right-radius: 20px;
      z-index: 2;
    }
  }
}

@media only screen and (max-width: 576px) and (orientation: portrait) {
  #formContainer {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    & > form {
      padding: 0 24px;
      padding-top: 136px;
      .row > div {
        padding-right: 0;
      }
      .row {
        width: 100%;
      }
    }
    #actionContainer {
      padding: 21px 34px 21px 24px;
      border-top-right-radius: 0;
    }
  }
}