/* 
* Global styles
*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', normal;
}

[data-color-mode="light"] {
  --color-bg: #F2F2F2;
  --color-common-text: #0C0E16;
  --color-subtitle: #858BB2;
  --color-box: #FFFFFF;
  --color-checkbox: #DFE3FA;
  --color-menu-shadow: #48549f40;
  --color-status-draft: #373B530F;
  --color-status-draft-text: #373B53;
  --color-detail-box: #FFFFFF;
  --color-button-edit: #F9FAFE;
  --color-button-edit-hover: #DFE3FA;
  --color-detail-text: #7E88C3;
  --color-amount-box: #373B53;
}
[data-color-mode="dark"] {
  --color-bg: #141625;
  --color-common-text: #FFFFFF;
  --color-subtitle: #DFE3FA;
  --color-box: #252945;
  --color-checkbox: #1E2139;
  --color-menu-shadow: #00000040;
  --color-status-draft: #DFE3FA0F;
  --color-status-draft-text: #DFE3FA;
  --color-detail-box: #1E2139;
  --color-button-edit: #252945;
  --color-button-edit-hover: #FFFFFF;
  --color-detail-text: #DFE3FA;
  --color-amount-box: #0C0E16;
}

.container-fluid {
  background-color: var(--color-bg);
  position: relative;
  display: flex;
  min-height: 100vh;
}
.container {
  position: relative;
  margin-top: 75px;
}

p {
  margin: 0 !important;
}

@media only screen and (max-width: 810px) and (orientation: portrait) {
  .container-fluid {
    flex-direction: column;
  }
  .container {
    margin-top: 48px;
  }
}